header h1{
    margin-top: 90px;
    color: rgb(4, 83, 4);
    font-size: 38px;
}

.international-cont{
    display: flex;
    gap: 20px;
}


.inter-article{
  background-color: white;

        font-size: 14px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 3px 2px rgba(155, 154, 154, 0.349);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;


}
.inter-article img {
    border-radius: 10px;
}
.inter-article h1{
    width: 80%;
    font-size: 25px;
    margin: 0px;
}
.inter-article h4{
    font-size: 14px;
    width: 80%;

    color: rgb(27, 27, 27);
    font-weight: 400;
    margin: 0px;
}

.inter-article p{
    font-size: 10px;
    color: rgb(109, 108, 108);
}


.weather-top{
    margin: 20px 0px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 3px 3px 2px  3px rgba(196, 196, 196, 0.801);
    padding: 10px 18px;

}
  

.w-h{
    color: rgb(99, 98, 98);
  text-transform: capitalize;
  font-size: 10px;
display: flex;
justify-content: space-between;
align-items: center;

}
.w-h2{
    display: flex;
    align-items: center;

}

.current-degree, .right-current-degree span{
    display: flex;
        padding-right: 22px;
    gap: 60px;
    align-items: center;
}

hr{
    border:0px;
    width: 100%;
    background-color: rgba(184, 178, 178, 0.527);
    height: 1px;
}

.days-deg{
    display: flex;
    justify-content: space-around;
    align-items: center;
}